.venv
.venv/*
.idea
.git
__pycache__/
*/__pycache__/
*.pyc
.DS_Store
*/.DS_Store
env.txt

#postgres
postgres-data/*
tmp

#alembic
alembic/*
alembic.ini
alembic/env.py
alembic/versions/*

xnl_db_dump.sql
*.ipynb
